
		body {
			background:#164b83;
		}
		#NEWS {
			background: white;
			float:left;
			width:50%;
			min-height:500px;
			display:inline-block;
			position:relative;
		}
		#NEWS1 {
			color:#164b83;
			font-size:1.8em;
		}
		.MEDIA1 {
			color:#164b83;
			font-size:1.8em;
		}
		#MEDIA2 {
			height:42px;
			margin-left:0px;
			width:100%;
			background:#bdbdbd;
		}
		.MEDIA21 {
			color:#5d5d5d;
			background:rgba(30, 100, 174, 0);
			width:50px;
			padding:12px 0px;
			text-align:center;
			font-size:1.0em;
			float:left;
			-webkit-transition: 0.35s ease;
			transition: .35s ease;
		}
		.MEDIA21:hover:not(.active2) {
			background:#8d8d8d;
			color:white;
			cursor:pointer;
			-webkit-transition: 0.35s ease;
			transition: .35s ease;
		}
		.active2 {
			background:#5d5d5d;
			color:white;
		}
		.SOC {
			overflow:hidden;
			border:1px solid rgba(102, 102, 102, 0.2);
			margin-top:15px;
		}
		#NEWS2 {
			border-radius:5px;
			background:#f2f2f2;
		}
		.NEWS21 {
			font-size:0.95em;
			font-weight:400;
			background: #e4e4e4;
			display:block;
			color:#4d4d4d;
			margin:0;
			padding:13px 0px 13px 12px;
			text-align:left;
		}
		.NEWS21 span {
			font-size:0.8em;
			margin-right:12px;
			padding:0px 0px 10px 12px;
			float:right;
		}
		a.nolink {
			cursor:default;
		}
		a.linked:hover {
			text-decoration: underline !important;
		}
		#LOGO {
			filter:brightness(100);
		}