---
title: Advisors
layout: default
permalink: /advisors.html
social: true
css : alumni-page.css
js : alumni-page.js
---

<div id="main" class="wrapper style4" style="background-color:#d3e5f8">
  <!-- Content -->
  <div id="content" class="container-fluid">
    <section>
      <div class="container-fluid test4">
        <header class="page-header" style="border:none;">
          <h2 id="alumni" class="text-center">Our Advisors</h2>
          <!-- <ul class="nav nav-tabs text-right" style="float:right;">
            <li class="active"><a href="#alumni2014">2016-2017</a></li>
            <li><a href="#">2015-2016</a></li>
          </ul> -->
        </header>
      </div>
      <!-- <div class="container-fluid lowscreenhide" style="background :linear-gradient(to right, transparent 100%, cornflowerblue 150%);">
        {% for alumni in site.data.alumni_detail.alumni %}
        <div>
          <div class="col-lg-12 slide center" style="display:none">
            <div class="center">
              <div>
                <div class="col-lg-3 ">
                  <img src=/assets/images/alumni_member/{{alumni.img}} style="width:100%;" class="img-responsive img-thumbnail">
                </div>
                <div class="col-lg-2" style="margin:0% ;color:#164b83">
                  <h2 id="headder">{{alumni.name}}</h2>
                  <p>
                    &rarr; {{alumni.batch}}<br/>&rarr; {{alumni.division}}<br/>&rarr; {{alumni.project}}
                  </p>
                </div>
                <div class="col-lg-4 exp">
                  <h3 style="color:#0086b3;font-family:monospace">
                    {{alumni.Experience}}
                  </h2>
                </div>
              </div>
            </div>
          </div>

        </div>
        {% endfor %}
      </div> -->

      <div class="container-fluid  text-center display" style="display:flex;justify-content:space-around;">
        <div class="col-lg-2" style="background-color:#bed8f4;padding:2%;box-shadow:5px 5px rgba(0, 0, 0, 0.2)">
          <h2>Alumni</h2>
          <small> For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</small>
          <button class="btn btn-default link" style="margin:2% 0%" data-toggle="modal" data-target="#alumni2014"> List </button>
        </div>

        <div class="col-lg-2" style="background-color:#bed8f4;padding:2%;box-shadow:5px 5px rgba(0, 0, 0, 0.2)"  >
          <h2>Faculty Advisors</h2>
          <small> For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</small>
          <button class="btn btn-default link" style="margin:2% 0%" data-toggle="modal" data-target="#alumni2014">See More</button>
        </div>
      </div>


    </section>
  </div>

</div>
{% include  alumni_modal.html %}
{% include facultymessage.html %}
