---
title: Advisors
layout: default
permalink: /advisors.html
social: true
css : alumni-page.css
js : alumni-page.js
---

<div id="main" class="wrapper style4" style="background-color:#d3e5f8">
  <!-- Content -->
  <div id="content" class="container-fluid">
    <section>
      <div class="container-fluid test4">
        <header class="page-header" style="border:none;">
          <h2 id="alumni" class="text-center">Our Advisors</h2>
        </header>
      </div>

      <div class="container-fluid  text-center display" style="display:flex;justify-content:space-around;">
        {% assign block=site.data.alumni_detail.blocks %}
        <div class="col-lg-2" style="background-color:#bed8f4;padding:2%;box-shadow:5px 5px rgba(0, 0, 0, 0.2)">
          <h2>{{block[0].heading}}</h2>
          <small>{{block[0].text}} </small>
          <button class="btn btn-default link" style="margin:2% 0%" data-toggle="modal" data-target="#alumni2014"> List </button>
        </div>

        <div class="col-lg-8" style="background-color:#bed8f4;padding:2%;box-shadow:5px 5px rgba(0, 0, 0, 0.2)"  >
          <h2>{{block[1].heading}}</h2>
          <small>{{block[1].text}}</small>
        </div>
      </div>


    </section>
  </div>

</div>
{% include  alumni_modal.html %}
{% include facultymessage.html %}
