---
title: Alumni
layout: default
permalink: /alumni.html
social: true
css : alumni-page.css
js : alumni-page.js
---

<div id="main" class="wrapper style4" style="background-color:#d3e5f8">
  <!-- Content -->
  <div id="content" class="container-fluid">
    <section>
      <div class="container-fluid test4">
        <header class="page-header" style="border:none;">
          <h2 id="alumni" class="text-center">Our Alumni's</h2>
          <ul id="nav2" class="text-center" style="background:none">
            <li><button class="link  .btn .btn-default " data-toggle="modal" data-target="#alumni2014">Team List</button></li>
          </ul>
        </header>
      </div>
      <div class="container-fluid lowscreenhide" style="background :linear-gradient(to right, transparent 100%, cornflowerblue 150%);">
        {% for alumni in site.data.alumni_detail.alumni %}
        <div>
          <div class="col-lg-12 slide" style="display:none">
            <div style="margin:0% 4% 3%;">
              <div>
                <div class="col-lg-3 ">
                  <img src=/assets/images/alumni_member/{{alumni.img}} style="width:100%;" class="img-responsive img-thumbnail">
                </div>
                <div class="col-lg-2" style="margin:0% ;color:#164b83">
                  <h2 id="headder">{{alumni.name}}</h2>
                  <p>
                    &rarr; {{alumni.batch}}<br/>&rarr; {{alumni.division}}<br/>&rarr; {{alumni.project}}
                  </p>
                </div>
                <div class="col-lg-4 exp">
                  <h3 style="color:white;font-family:monospace">
                    {{alumni.Experience}}
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- <div class="row text-center lowscreenhide" >
        <div class="col-lg-5" style="margin:3% 20% 10% 30%">
          <button type="button" onclick="message()" style="border:none"><i class="fa fa-angle-double-down sliding" ></i></button>
        </div>
      </div> -->

    </section>
  </div>

</div>
{% include  alumni_modal.html %}
{% include facultymessage.html %}
