---
title: Advisors
layout: default
permalink: /newAlumni.html
social: true
css : newAlumni.css
js: alumni-page.js
---

<div class="container-fluid body">
  <div class="row">
    <div class="col-sm-12 text-center" id="title">
      <h2>Alumni Team</h2>
    </div>
  </div>

  <div id="team_container">
    <div class="row">
      <div class="col-sm-4" id="tagline">
        <h2>"Perfection comes with Hard Work And Determination"</h2>
      </div>
      <div class="col-sm-6" id="polygon_block">
        <div class="wrap">
          <div class="clip-block" style="float:right">
            <div class="clip-each clip-solid">
              <div class="social-share-block">
                <strong> <span><a href="#"><i class="fa fa-facebook"></i></a></span> </strong>
                <strong>   <span><a href="#"><i class="fa fa-github"></i></a></span> </strong>
              </div>
            </div>
          </div> <!-- /clip-block -->

          <div class="clip-block" style="float:right">
            <a href="#" class="clip-each clip-gradient">
              <div class="clip-caption">NIOT Experience</div>
            </a>

          </div> <!-- /clip-block -->

          <svg class="clip-svg">
            <defs>
              <clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
                <polygon points="0.25 0.05, 0.75 0.05, 1 0.5, 0.75 0.95, 0.25 0.95, 0 0.5" />
              </clipPath>
            </defs>
          </svg>

          <svg class="clip-svg">
            <defs>
              <clipPath id="triangle-clip" clipPathUnits="objectBoundingBox">
                <polygon points="1 0.03, 0.17 1, 1 1" />
              </clipPath>
            </defs>
          </svg>
        </div> <!-- /wrap -->
      </div>

      {% for div in site.data.alumni_detail.blocks %}
      <div class="page-header">
        <h2>{{div.division}}</h2>
      </div>
      <div class="row a">

        <div class="col-sm-12">
          <div class="wrap">
            <div class="clip-block" style="float:{{div.float}}">
              <div class="clip-each clip-solid" style="background-image:url('{{div.background-img}}')">
                <div class="social-share-block">
                  <strong><span>{{div.division}}</span></strong>
                </div>
              </div>
            </div> <!-- /clip-block -->
            <div  id="{{div.division}}">
            {% for member in div.members %}
            <div class="clip-block" style="float:{{div.float}}" >
              <a  class="clip-each clip-gradient " data-toggle="collapse" data-target="#{{member.id}}" data-parent="{{div.division}}">
                <div class="clip-caption"><img class="img-responsive img-circle" src="assets/images/alumni_member/{{member.img}}"/></div>
              </a>
              <div id="{{member.id}}" class="collapse text-center">
                <h3>{{member.name}}</h3>
                <!-- <p>{{div.CurrProject}}</p> -->
                <ul id="userSocial">
                  {% if member.facebook %}
                  <a href="https://www.facebook.com/{{member.facebook}}"> <i class="fa fa-facebook"></i></a>
                  {% endif %}
                  {% if member.github %}
                  <a href="https://github.com/{{member.github}}"> <i class="fa fa-github"></i></a>
                  {% endif %}
                </ul>
              </div>
            </div> <!-- /clip-block -->
            {% endfor %}
          </div>
          </div> <!-- /wrap -->
        </div>

      </div>
      {% endfor%}
    </div>


  </div>

</div>
