---
title: Sponsors
layout: default
permalink: /sponsors.html
social: true
css : sponsors.css
js : sponsors.js
sponsors_active : active
---
<!-- main -->
<div class="wrapper style3" style="padding: 150px 0 75px 0; background: white;">
	<section class="container">
		{% for item in site.data.sponsors_detail.sponsors %}
		{% if item.title == "Sponsors" %}
		<header class="major">
			<h2 style="font-size:4.4em;color: #2d2d2d; margin: auto;" >{{item.title | upcase}}</h2><br>
			<span style = "font-size:1.2em; color:#2d2d2d;">{{item.description}}</span>
		</header>
		{% endif %}
		{% endfor %}
	</section>
</div>

<!-- Sponsorship Details -->
<div class="wrapper style2" style="background:#1e64ae ; margin:0;padding:20px 0 60px 0;">
	<section class="container">
		<div class="row double">
			{% for item in site.data.sponsors_detail.sponsors %}
			{% if item.title == "Why Sponsor Us?" or item.title == "Sponsorship Benifits" %}
			<div class="6u">
				<h2 class="heading1 page-header"><b>{{item.title | upcase}}</b></h2>
				<p style="text-align:justify; font-size:1.0em; margin:0;color:white !important;">
					&emsp;&emsp;{{item.description}}
				</p>
				{% if item.benefitsList %}
				<ul class="benefits">
					{% for benefit in item.benefitsList %}
					<li>{{benefit}}</li>
					{% endfor %}
				{% endif %}
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</section>
</div>

<!-- Sponsor - Current and Previous List -->
<div class="wrapper style3" style="padding-top:50px;padding-bottom:40px;background: white;color: #4d4d4d;">
	{% for item in site.data.sponsors_detail.sponsors %}
	{% if item.title == "Current Sponsors" or item.title == "Previous Sponsors" %}
	<section class="container">
		<header class="major">
			<h1 class="heading2 page-header">{{item.title | upcase}}</h1>
		</header>
		<div class="flex-container">
		 	{% for sponsor in item.list %}
			<img src="{{item.imageSource}}{{sponsor | downcase}}.png" alt="{{sponsor}} logo">
			{% endfor %}
		</div>
	</section><br>
	{% endif %}
	{% endfor %}
</div>
