---
title: Sponsors
layout: default
permalink: /sponsors.html
social: true
css : sponsors.css
js : sponsors.js
sponsors_active : active
---
<!-- About Sponsorship -->
<div class="wrapper style3" style="padding: 150px 0 75px 0; background: white;">
	<section class="container">
		{% for item in site.data.sponsors_detail.sponsors %}
			{% if item.title == "Sponsors" %}
				<header class="major">
					<h2 class="page-title" style="font-size:3.6em;color: #2d2d2d; margin: auto;" >{{item.title | upcase}}</h2><br>
					<span style = "font-size:1.2em; color:#2d2d2d;">{{item.description1}}</span></br> </br>
					<span style = "font-size:1.2em; color:#2d2d2d;">{{item.description2}}</span>
				</header>
			{% endif %}
		{% endfor %}
	</section>
</div>

<!-- Current and Previous Sponsors List -->
<div class="wrapper style3" style="padding-top:0px;padding-bottom:40px;background: white;color: #4d4d4d;">
	{% for item in site.data.sponsors_detail.sponsors %}
		{% if item.title == "A big thank you to our wonderful sponsors!" %}
			<section class="container">
				<header class="major">
					<p class="heading2 page-header"><b>{{item.title}}</b></p>
				</header>
				<div class="flex-container">
		 			{% for sponsor in item.list %}
						<img src="{{item.imageSource}}{{sponsor | downcase}}.png" alt="{{sponsor}} logo">
					{% endfor %}
				</div>
			</section><br>
		{% endif %}
	{% endfor %}
</div>

<!-- Sponsoring AUV Team -->
<div class="wrapper style2" style="background:#1e64ae; margin:0;padding:20px 0 60px 0;">
	<section class="container">
		<div class="row double">
			{% for item in site.data.sponsors_detail.sponsors %}
				{% if item.title == "Why Sponsor Us?" or item.title == "Sponsorship Benifits" %}
					<div class="6u">
						<h2 class="heading1 page-header"><b>{{item.title | upcase}}</b></h2>
						{% if item.description %}
							<p style="text-align:justify; font-size:1.0em; margin:0;color:white !important;">
								&emsp;&emsp;{{item.description}}
							</p>
						{% endif %}
						{% if item.descriptionList %}
							<ul class="list">
								{% for point in item.descriptionList %}
									<li>{{point}}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>
</div>
