---
title: Team Triton
layout: default
permalink: /team.html
social: true
css : team-page.css
js : team-page.js
team_active : active
---
  <section class="fdb-block team-2">
		<div class="container">
      <div class="row text-center justify-content-center page-header">
        <div class="col-8">
          <h1>Meet Our Team</h1>
        </div>
      </div>

      <div class="row-50"></div>


			<!-- team advisor and leader -->
      <div class="row text-center justify-content-center">
			  <div class="col-sm-3 m-sm-auto">
          <img alt="image" class="img-responsive" src="/assets/images/team_members/MangalKothari.jpg">

          <h3><a href="https://www.iitk.ac.in/aero/mangal/"><strong>Prof. Mangal Kothari</strong></a></h3>
          <p>Faculty Advisor</p>
        </div>

				<div class="col-sm-3 m-sm-auto">
          <img alt="image" class="img-responsive" src="/assets/images/team_members/MayankMittal.jpg">

          <h3><a href="https://mayankm96.github.io"><strong>Mayank Mittal</strong></a></h3>
          <p>Team Captain</p>
					<ul id="userSocial">
						<a href="https://www.facebook.com/messages/t/1615881879"> <i class="fa fa-facebook"></i></a>
						<a href="https://github.com/mayankm96"> <i class="fa fa-github"></i></a>
					</ul>
        </div>
      </div>

			<!-- other members -->
			{% assign divisions = site.data.team_detail | sort  %}
			{% for divison in divisions  %} {% assign division=divison[1]  %}
			<div class="row text-center justify-content-center ">
				<div class="col-8 ">
					<h2>{{division.title}}</h2>
				</div>
			</div>
      <div class="row text-center justify-content-center">
				{% for div in division.member %}
        <div class="col-sm-3 m-sm-auto">
          <img alt="image" class="img-responsive" src="/assets/images/team_members/{{div.profile_pic}}">

          <h3><strong>{{div.Name}}</strong></h3>
          <p>{{div.CurrProject}}</p>
						<ul id="userSocial">
							<a href="https://www.facebook.com/{{div.facebook}}"> <i class="fa fa-facebook"></i></a>
							<a href="https://github.com/{{div.github}}"> <i class="fa fa-github"></i></a>
						</ul>
        </div>
				{% endfor %}
      </div>
			{% endfor %}
    </div>
  </section>
