---
title: Team Triton
layout: default
permalink: /team.html
social: true
css : team-page.css
js : team-page.js
team_active : active
---

<div style="width:100% !important; background-color:#f2f2f2" class="container info">
  <div class="row container1" style="width:100%;position:relative;margin:6% 0% 1% !important">
    <div class="row" style="margin:1% 0% 0% 2%;">
      <h2 class="team_name"><b>Team <i style="color:black">Triton</i></b></h2>
      <p style="font-weight:400;text-align:justify;">
        With the number of members increasing each year, the current team comprises of 18 students from various majors and years. Our work is distributed into four subsystems: Software, Mechanical, Electrical, and Business. Currently, the team is preparing Singapore Underwater Vehicle Challenge (SAUVC).
      </p>
    </div>
  </div>
</div>
<div class="container-fluid text-center" style="padding:0% 0% 2% !important; background-color:#f2f2f2" id="teamInfo" >
  <div style="background-color:cornflowerblue" class="container-fluid" >
    <div class="page-header case" style="color:White;">
      <h2 >Introducing to Our Team</h2>
    </div>

    <!-- Vertical Navbar which hides on low screen window size & Hide function is in js file-->
    <!-- Affix of vertical nav is attached to body of html of webpage -->
    <div class="text-center verticalnav" data-spy="affix" data-offset="300" id="hide">
      <nav class="navbar2">
        <ul class="nav nav-pills nav-stacked" role="tablist">
          {% for divId in site.data.divison %}
          {% if {{divId.title}} == "Team Leaders" %}
          <li class="active"><a href="#{{divId.division}}">{{divId.title}}</a></li>
          {% else %}
          <li ><a href="#{{divId.division}}">{{divId.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav>

    </div>

    <!-- Container containing team information and all the divisions -->
    <div class="container text-center" >
      <!--Taking team division information from team_detail folder  -->
      {% assign divisions = site.data.team_detail | sort  %}
      {% for divison in divisions  %} {% assign division=divison[1]  %}

      <!-- Heading to appear in mobile view only-->
      <div class="text-center container-fluid headings" id="{{division.id}}" >
        <h2>{{division.title}}</h2>
      </div>

      <div class="row divs" id="{{division.basename1}}">
        <span id="divHead">
          <hr><p style="color:white;font-weight:lighter;font-family:Mono;">{{division.title}}</p><hr>  <!-- Division Heading-->
        </span>
        <div class="col-lg-11" style="" id="{{division.id2}}" >
          <div  style="height:auto;" class="row team_data_container">
            <div class="col-lg-12" style="width:100%; " >
              <div class="row divs">
                <!-- For each member in the particular selected division showing information -->
                {% for div in division.member %}
                <div class="col-md-3 ">
                  <div class="thumbnail hovereffect" style="height:auto;padding:0px">
                    <div class="hovereffect">
                      <!-- Showing the current project on hovering the image -->
                      <div class="overlay">
                        <h2 class="thumbnail_text">{{div.CurrProject}}</h2>
                      </div>
                      <img src="/assets/images/team_members/{{div.profile_pic}}" alt="Lights" style="width:100%;" class="image resize_fit_centers">
                    </div>
                    <div class="caption" style="background-color:white">
                      <p class="person_name">{{div.Name}}</p>
                      <a href=" https://www.facebook.com/{{div.facebook}}" class="fblink"><i class="fa fa-facebook hovericon"  style="color:black" style=""></i></a>
                      <a href=" https://www.github.com/{{div.github}}" class="gitlink"><i class="fa fa-github hovericon"  style="color:black" style=""></i></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>


      </div>
      {% endfor %}
    </div>

  </div>
</div>
