---
title: Team Triton
layout: default
permalink: /team.html
social: true
css : team-page.css
js : team-page.js
team_active : active
---
  <section class="fdb-block team-2">
		<div class="container">
      <div class="row text-center justify-content-center page-header">
        <div class="col-8">
          <h1>Meet Our Team</h1>
        </div>
      </div>

      <div class="row-50"></div>

      {% assign divisions = site.data.team_detail | sort  %}
			{% for divison in divisions  %}
        {% assign division=divison[1]  %}
        {% if division.title == "Team Advisors" %}
			     <!-- team advisor and leader -->
           <div class="row text-center justify-content-center">
             {% for div in division.member %}
             <div class="col-sm-3 m-sm-auto">
               <img alt="image" class="img-responsive" src="/assets/images/team_members/{{div.profile_pic}}">

               <h3><strong>{{div.Name}}</strong></h3>
               <p>{{div.CurrProject}}</p>
               <ul id="userSocial">
                 {% if div.website %}
                    <a href="{{div.website}}"> <i class="fa fa-globe"></i></a>
                 {% endif %}
                 {% if div.facebook %}
                    <a href="https://www.facebook.com/{{div.facebook}}"> <i class="fa fa-facebook"></i></a>
                 {% endif %}
                 {% if div.github %}
                    <a href="https://github.com/{{div.github}}"> <i class="fa fa-github"></i></a>
                 {% endif %}
               </ul>
             </div>
             {% endfor %}
           </div>
        {% endif %}
      {% endfor %}

			<!-- other members -->
			{% assign divisions = site.data.team_detail | sort  %}
			{% for divison in divisions  %}
        {% assign division=divison[1]  %}
        {% if division.title != "Team Advisors" %}
    			<div class="row text-center justify-content-center ">
    				<div class="col-8 ">
    					<h2>{{division.title}}</h2>
    				</div>
    			</div>
          <div class="row text-center justify-content-center">
    				{% for div in division.member %}
            <div class="col-sm-3 m-sm-auto">
              <img alt="image" class="img-responsive" src="/assets/images/team_members/{{div.profile_pic}}">

              <h3><strong>{{div.Name}}</strong></h3>
              <p>{{div.CurrProject}}</p>
    					<ul id="userSocial">
                {% if div.website %}
                   <a href="{{div.website}}"> <i class="fa fa-globe"></i></a>
                {% endif %}
                {% if div.facebook %}
    				       <a href="https://www.facebook.com/{{div.facebook}}"> <i class="fa fa-facebook"></i></a>
                {% endif %}
                {% if div.github %}
                   <a href="https://github.com/{{div.github}}"> <i class="fa fa-github"></i></a>
                {% endif %}
    					</ul>
            </div>
            {% endfor %}
          </div>
        {% endif %}
	    {% endfor %}
    </div>
  </section>
