---
---
<!DOCTYPE HTML>

<html>
	<head>
		{% include header.html %}
		<link rel="stylesheet" href="/css/blog.css" />
	</head>

	<body>
<!-- Navigation Bar -->
		<div class="wrapper style1">
			{% include nav.html %}
		</div>

<!-- Heading -->
		<div class="wrapper style3">
				<section class="container" >
					<header class="major">
						<h2 style="font-size: 7em; margin-bottom: 0.2em; margin-top:0.2em; ">BLOG</h2>
					</header>
					<p style="margin-bottom: 0px; font-size: 2.4em;  ">- by AUV, IITK</p>
					</section>
			</div>

<!-- Blog Posts -->
		<div class="wrapper style4">
			<section class="container">
				<div class="row flush">
					<div class = "1u">
						<p></p>
					</div>
					<div class = "8u" style="text-align: justify;">
						<ul>
							<li>
								{% for post in site.posts %}
								<p style="color:darkblue; margin-bottom:5px;font-weight:500;">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
								<a style="text-decoration:none;" href="{{ post.url }}">
									<h3 id="headingForBlog">
										{{ post.title }}
									</h3>
									{% if post.section %}
									<span style="color:#333333;font-size:1.2em;text-decoration:none;font-weight:400;">
										{{ post.section }} ...
									</span>
									{% endif %}
								</a>
								<hr><hr>
								{% endfor %}
								<hr>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>

<!-- Footer -->
		 {% include footer.html %}
		 <script src="/js/blog.js"></script>
	</body>
</html>
