---
layout: "default"
title: "AUVIITK | Contact"
css : /css/contactpage.css
js : js/contactpage.js
---

<div id="main" class="wrapper style4" style="padding-bottom:1emc!important;background-color:#164b83;padding:0 !important">
  <div class="container-fluid" >
    <div class="row" style="margin:4% 0% !important">
      <div class="row text-center skel-cell-important" style="width:110%;border-bottom:1px solid #123e6d" >
        <div class="col-md-4" style="margin:0% 30%;font-size:3vw;color:White;font-family:Monospace" id="contactus">
          <h2 style="line-height:1.2; margin-top: 10px;">CONTACT US</h2>
        </div>
      </div>
      <!-- Sidebar -->
      <div id="sidebar" class="row text-center" style="padding-left:0px;margin:0% !important;width:100%;">
        <section style="padding:0% 10%;width:100%" class="contactdetails">
          {% for contact in site.data.contact_detail %}
          {% assign members = contact[1] %}
          <div class="col-md-5" style="margin:3% 3% 3% 5%;background-color:rgba(37, 124, 218, 0.3);word-wrap: break-word;height:360px;text-decoration:none">
								<header class="major" style="padding-bottom:.2em">
									<h1 style="color:aquamarine;font-family:'Calibri Light';text-transform:initial;font-size:42px;" class="text-center">{{members.title}}</h1>
								</header>
              <div class="row" style="margin-top:3%">
                  <ul style="font-family:Arial;font-size:16px;line-height:2.7;width:100%;padding-left:15% !important  ;text-align:left;;margin-bottom:5%" class="auvcontact">
                    {% if members.title == 'Contact' %}
                      <li>
                         <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=iitkauv@gmail.com&su" style="color:#99e6ff"><i class="fa fa-envelope faicon"></i> :</a><span style="color:white">iitkauv@gmail.com</span>
                      </li>

                      <li>
                          <a href="#googleMap"><i class="fa fa-location-arrow faicon"></i>: <span style="color:white">AUV Room, Hall-2, IIT KANPUR, KANPUR(208016), U.P., INDIA</span></a>
                      </li>
	                        <li style="text-indent:16%;" class="socialicons">
                          <a href="https://www.facebook.com/auviitk/"><i class="fa fa-facebook faicon" style="font-size:150%"></i></a>
                          <a href="https://github.com/AUV-IITK"><i class="fa fa-github faicon" style="font-size:150%"></i></a>
                      </li>

                      <li>
                      </li>
                {% else %}

                  {% for member in members.member %}
                  <dl style="margin-bottom: 0% !important;">
                    <dt style="color:aqua"> {{member.Name}}
                    </dt>
                    <dd style="text-indent: 20px">
                      <span ><a href="{{member.facebook}}" style="color:white;"><i class="fa fa-facebook faicon"></i></a></span>
                      <a href="{{member.email}}"><span style="color:#99e6ff"><i class="fa faicon fa-envelope"></i>:</span> <span style="color:white;">{{member.id}}@iitk.ac.in</span></a>
                    </dd>
                  </dl>
                  {% endfor %}

                {% endif %}

              </ul>

            </div>
          </div>
          {% endfor %}
        </section>
      </div>

    </div>
  </div>
</div>

    <!-- Map -->

<div class="container-fluid" style="margin:0%;background-color:#e6eeff">
  <h1 style="color:#164b83;text-indent:20px;font-size:30px;margin:1% 0%">Location</h1>
  <div id="googleMap" style="width:100%;height:400px;margin-bottom:3%"></div>

  <script>
  function myMap() {
    var mapProp = {
      center: new google.maps.LatLng(26.510865, 80.22993),
      zoom: 15,
    };
    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    var marker = new google.maps.Marker({
      position: { lat: 26.510865, lng: 80.22993 },
      map: map
    });
  }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARyCGtNg30qNKXKcA3DP1z-xE6yzrHzBE&callback=myMap"></script>
</div>
