---
layout: "default"
title: "AUVIITK | Team"
css : /css/teampage.css
js : js/teampage.js

---

<div style="width:100% !important; background-color:#f2f2f2" class="container info" >
  <div class="row container1" style="width:100%;position:relative;margin:6% 0% 4% !important">
    <div class="col-md-3" id="cTeam1" style="margin:1% 0% 0% 2%;">
      <h2 id="cT" style="font-size:2.2em !important;color:#164b83;font-weight:700;font-family:arial;line-height:1.2;background:#f2f2f2;"><b>OUR CURRENT TEAM</b></h2>
      <p style="font-weight:400;text-align:justify;"> With the number only increasing each year, our current team has 18 members working under the subsystems of Software, Mechanical, Electrical, and Business. We are working on our bot VARUN, which shall participate in SAUVC (SINGAPORE) in the forthcoming period.</p>
    </div>
    <div class="col-md-8" style="margin:2% 0% 0% 3% !important">
      <div style="background-color:rgba(30, 100, 174 ,1 );padding:0.5% 23% 0% 30%; width:100%;text-align:center;margin:0% !important; position:sticky; top:60px;z-index:99;height:30px" id="teamnav" class="row containers">
        {% for div in site.data.divison %}
        <a onclick="animate2('#{{div.divison}}','#{{div.id}}','.{{div.class2}}')" title="{{div.title}}" class="col-sm-2 {{div.class2}} {{div.class3}} "  ><i style="color:{{div.color}};cursor:pointer;position:absolute;left:40%;" class="fa {{div.class1}}" id="{{div.id}}"></i></a>
        {% endfor %}
      </div>

      {% for divison in site.data.teamdetail %}
      {% assign division = divison[1] %}
      <div id="{{division.basename1}}" style="background-color:rgba(30, 100, 174 ,0.8 ); width:100%;margin:0% !important; height:auto;box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);display:{{division.display}}" class="row containers" >
        <div class="col-lg-12 " style="padding:0px; width:100%; ">
          <div style=" padding:10px; text-align:center;font-size:26px;margin:3% 34%; color:black;" id="{{division.id}}" class="faculty col-sm-4">{{division.title}}</div>
          <div class="row info_container" style="margin:auto;">
            {% for div in division.member %}
            {% if forloop.length == 3 %}
            <div class="col-md-3 text-center" style="margin:0% 0% 3% 7% ; padding:0% !important" >
              {% else %}
              <div class="col-md-3 text-center" style="margin:0% 0% 3% 18% ; padding:0% !important" >
                {%endif%}
                <div class="thumbnail hovereffect" style="height:auto;padding:0px;margin:0%; width:100%;">
                  <div class="hovereffect">
                    <div class="overlay">
                      <h2 class="text ">{{div.CurrProject}}</h2>
                    </div>
                    <img src="{{div.img1}}" alt="Lights" style="width:100%;" class="image resize_fit_centers">
                  </div>
                  <div class="caption" style="background-color:white">

                    <p class="desc1">{{div.Name}}</p>
                    <a href="{{div.facebook}}" class="fblink" ><i class="fa fa-facebook hovericon"  style="color:black" style=""></i></a>
                    {% if div.Name !='Yazur Gupta' %}
                      <a href="{{div.github}}" class="gitlink" ><i class="fa fa-github hovericon"  style="color:black" style=""></i></a>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
  <script src="js/navBar.js"></script>
  <script src="js/team-animation.js"></script>
  <script src="js/details1.js"></script>
