---
layout: default
title: AUVIITK | VARUN
css: /css/varun.css
js: /js/varun.js
---

<!-- Heading -->
		<div class="wrapper style3" id="v0" style="padding-bottom:0px;margin-bottom:0px;zoom:95%;">
			<section class="container" >
				<header class="major">
					<h2 style="font-size:5em; padding-top:0px;padding-bottom:0px;margin-bottom:0px;">VARUN</h2>
				</header>
				<p style="font-size:1.6em;margin-bottom:0px;">The God of the Oceans</p>
			</section>
		</div>
<!-- Navigation bar 2-->
		<div class="stick" id="stic" style="z-index:9">
				<a id="part2" class="button1" >Mechanical Subsystem</a>
				<a id="part4" class="button1">Software Subsystem</a>
				<a id="part3" class="button1">Electrical Subsystem</a>
		</div>
<!--main-->
		<div class="wrapper style2" id="v" style="zoom:90%;background:#164b83; margin-top:0px; color:white;padding-bottom:10px;padding-top:30px;">
			<section class="container">
				<div class="row double">
					<div class="5u">

						<header class="major" style="text-align:left !important;font-weight:400;height:350px; background:rgba(37, 124, 218, 0.3); vertical-align: middle;padding-left:34px; padding-right:12px;display: table-cell">
							<h2 style="font-size:2.0em;font-weight:700; margin-bottom:10px; padding:5px 5px 0px 10px;text-transform:uppercase;margin-left:-34px;">Key Aspects</h2>
							<ul class="list">
								{% for item in site.vehicles %}{% if item.subTitle == "Key Aspects" %}{% for features in item.features %}
									<li class="byline">{{ features }}</li>
								{% endfor %}{% endif %}{% endfor %}
							
							</ul>
							<div style="width:100%; text-align:center;margin-top:15px;">
								<a class="button3" href="documents/vehicle/varun.pdf" target="_blank" style="margin:auto; display:inline-block;">Report of Varun</a>
							</div>
						</header>
					</div>
					<div class="7u">
						<div class="sketchfab-embed-wrapper" style="margin:auto; display:inline-block; text-align:center; overflow:hidden; width:100%;">
							<div class="sketchfab-embed-wrapper">
								<iframe width="100%" height="400" src="https://sketchfab.com/models/6e1274e10d9e4b6a922a5ed0baf9445f/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
								<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
									<a href="https://sketchfab.com/models/6e1274e10d9e4b6a922a5ed0baf9445f?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">VARUN</a>
									by <a href="https://sketchfab.com/karthic?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">AUV IITK</a>
									on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
<!-- 2 -->
		<div id = "mechanical" class="subTeam" style="background:#f2f2f2;">&emsp;</div>

		<div class="wrapper style2" id="v1" style="zoom:90%;background:#f2f2f2; color:#0086b3;padding:0px;">
			<section class="container">
				<div class="row double">
					<div class="7u">
						<div style="display:inline-block;">

							<div style="margin:auto;text-align:center; width:80%;">
								<img class="auvMech" style="width:100%;" src="images/varun/varun_labelled.png">
							</div>
						</div>
						<p class="picCom" style="color:#14669C;"><a href="#" class="fa fa-angle-up" style="color:#14669C; text-decoration:none;"> </a> Exploded View of Varun</p>
					</div>
					<div class="5u">
						<header class="major" style="text-align:left !important; padding-left:20px;font-weight:400;background:#f2f2f2; height:500px;padding-top:30px;">
							<h2 style="color:#006080; font-weight:700;font-size:1.6em; padding-left:10px;text-transform:uppercase;margin-left:-34px;">Mechanical Subsystem</h2>
							<ul class="list">
								{% for item in site.subteams %}{% if item.title == "Mechanical" %}{% for features in item.features %}
									<li class="byline">{{ features }}</li>
								{% endfor %}{% endif %}{% endfor %}
							</ul>
						</header>
					</div>
				</div>
			</section>
		</div>

<!-- 3 -->
		<div id = "software" class="subTeam" style="background:#b3d9ff;">&emsp;</div>

		<div class="wrapper style2" id="v3" style="zoom:90%;background:#b3d9ff; color:#0086b3;padding:0px;">
			<section class="container">
				<div class="row double">
					<div class="6u" >
						<header class="major" style="text-align:left !important; padding-left:20px;font-weight:400;background:#b3d9ff; height:400px; padding-top:30px;" >
							<h2 style="color:#006080;font-weight:700;font-size:1.6em; padding-left:10px;text-transform:uppercase;margin-left:-34px;">Software Subsystem</h2>
							<ul class="list">
								{% for item in site.subteams %}{% if item.title == "Software" %}{% for features in item.features %}
									<li class="byline">{{ features }}</li>
								{% endfor %}{% endif %}{% endfor %}
						 	</ul>
						</header>
					</div>
					<div class="6u">
						<div style="display:inline-block">

							<div style="margin:auto;text-align:center; width:80%;">
								<img class="auvMech" style="width:100%;" src="images/varun/software_logos.png">
							</div>
						</div>
						<p class="picCom" style="color:#0059b3;" ><a href="#" class="fa fa-angle-up" style="color:#0059b3; text-decoration:none;"> </a> Frameworks in Varun's Code</p>
					</div>
				</div>
			</section>
		</div>

<!-- 4 -->
		<div id = "electrical" class="subTeam" style="background:#f2f2f2;">&emsp;</div>
		<div class="wrapper style2" id="v2" style="zoom:90%;background:#f2f2f2; color:#0086b3;padding:0px; ">
			<section class="container">
				<div class="row double">
					<div class="7u">
						<div style="display: inline-block;">
							<div style="margin:auto; text-align:center; width:80%;">
								<img class="auvMech" style="width:100%;" src="images/varun/varun_power.png">
							</div>
						</div>
						<p class="picCom" style="color:#14669C;"><a href="#" class="fa fa-angle-up" style="color:#14669C; text-decoration:none;"></a> Schematic Diagram of Power Distribution Board</p>
					</div>
					<div class="5u" >
						<header class="major" style="text-align:left !important; padding-left:20px;font-weight:400;background:#f2f2f2; height:500px;padding-top:30px;">
							<h2 style=" color:#006080;padding-left:10px;font-weight:700;font-size:1.6em;text-transform:uppercase;margin-left:-34px;">Electrical Subsystem</h2>
							<ul class="list">
								{% for item in site.subteams %}{% if item.title == "Electrical" %}{% for features in item.features %}
									<li class="byline">{{ features }}</li>
								{% endfor %}{% endif %}{% endfor %}
							</ul>
						</header>
					</div>

				</div>

			</section>
		</div>
