<div class="modal fade" id="modal" role="dialog">
  <div class="modal-dialog container">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Alumni 2014-2015</h4>
      </div>
      <div class="modal-body">
        <div class="row divs">
          {% for alumni in site.data.alumni_detail.alumni %}
          <div class="col-md-3 text-center">
            <div class="thumbnail hovereffect " style="height:auto;">
              <div class="hovereffect">
                <div class="overlay">
                  <h2 class="alumni_exp">{{alumni.division}}</h2>
                </div>
                <img src="/assets/images/alumni_member/{{alumni.img}}" alt="Lights" style="width:100%;" class="image resize_fit_centers img-rounded">
              </div>
              <div class="caption" style="background-color:white;">
                <h3 class="name">{{alumni.name}}</h3>
                <a href="{{alumni.facebook}}" class="fblink"><i class="fa fa-facebook hovericon"></i></a>
                {% if alumni.github %}
                <a href="{{alumni.github}}" class="gitlink"><i class="fa fa-github hovericon"></i></a>
                {% endif%}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
