<header>
	<h3 id="headingForBlog">
		<a href = "{{post.url}}">{{ post.title }}</a>
	</h3>
</header>

<div class="meta-data">
	
	<div class = "about-post">

		{% for author in post.author %}
			{% if author.github-link %}
				<span><i class = "fa fa-user"></i><span class="italics"> Posted by <a class="categoriesLink" href="{{ 'https://' | append: author.github-link }}">{% for author in post.author %}{{ author.name }}{% endfor %}</a></span></span>
			{% endif %}
		{% endfor %}

		<span><i class = "fa fa-calendar"></i><span class="italics"> {{ post.date | date_to_string }}</span></span>
		
		<span><i class = "fa fa-bookmark"></i> 
		{% for categories in post.categories %}
			{% if categories == post.categories.last %}
				<a class = "categoriesLink" href="/blog/categories/{{ categories }}/">{{ categories }}</a>&nbsp;
			{% else %}
				<a class = "categoriesLink" href="/blog/categories/{{ categories }}/">{{ categories }}</a>,&nbsp;
			{% endif %}
		{% endfor %}
		</span>
		
		<span><i class = "fa fa-comment-o"></i> <a class="categoriesLink" href="{{ post.url }}#disqus_thread">0 Comments</a></span>

	</div>
	
	<span class = "description">
	<!-- {{ post.excerpt | remove: '<p>' | remove: '</p>' | append: ' ...' }} -->
	{{ post.subtitle }}
	</span>
	
	<div class = "about-author">
		{% for author in post.author %}
			{% if author.fb-link %}<a class = "button-1" href = "{{ 'https://' | append: author.fb-link }}" target="_blank"><i class = "fa fa-facebook"></i></a>{% endif %}
			{% if author.github-link %}<a class = "button-1" href = "{{ 'https://' | append: author.github-link }}" target="_blank"><i class = "fa fa-github"></i></a>{% endif %}
			{% if author.website-link %}<a class = "button-1" href = "{{ 'https://' | append: author.website-link }}" target="_blank"><i class = "fa fa-globe"></i></a>{% endif %}
			{% if author.linkedin-link %}<a class = "button-1" href = "{{ 'https://' | append: author.linkedin-link }}" target="_blank"><i class = "fa fa-linkedin"></i></a>{% endif %}
		{% endfor %}
	</div>

</div>



<!-- 	<div>
		<a class="button-2" href="{{post.url}}">Read More</a>
	</div> -->

<hr><hr>