<div class="container-fluid" style="background-color:#164b83;border-bottom:2px solid white;margin:1% 5% ">
  <!-- <button class="btn btn-danger text-center" style="float:right;margin:2% 2% 2% 0%" onclick="message()">&times;</button> -->
  <div  style="color:rgb(26, 255, 209)" >
    <header class="page-header" >
      <h2 style="font-size:30px">Message</h2>
    </header>
  </div>

  <div class="row">
    <div class="col-lg-12" >
      <img src="/assets/images/team_members/MayankMittal.jpg" class="img-responsive img-rounded faculty_img";/>
    <p style="text-align:justify;">
      <h2 style="color:rgb(26, 255, 209)">Professor .....</h2>
    <span class="facultymessage">An autonomous underwater vehicle (AUV) is a robot that travels underwater without requiring input from an operator. AUVs constitute part of a larger group of undersea systems known as unmanned underwater vehicles, a classification that includes non-autonomous remotely operated underwater vehicles (ROVs) – controlled and powered from the surface by an operator/pilot via an umbilical or using remote control. In military applications a AUV is more often referred to as unmanned undersea vehicle (UUV). Underwater gliders are a subclass of AUVs.
      The first AUV was developed at the Applied Physics Laboratory at the University of Washington as early as 1957 by Stan Murphy, Bob Francois and later on, Terry Ewart. The "Special Purpose Underwater Research Vehicle", or SPURV, was used to study diffusion, acoustic transmission, and submarine wakes.
      Other early AUVs were developed at the Massachusetts Institute of Technology in the 1970s. One of these is on display in the Hart Nautical Gallery in MIT. At the same time, AUVs were also developed in the Soviet Union[1] (although this was not commonly known until much later).
      The oil and gas industry uses AUVs to make detailed maps of the seafloor before they start building subsea infrastructure; pipelines and sub sea completions can be installed in the most cost effective manner with minimum disruption to the environment. The AUV allows survey companies to conduct precise surveys of areas where traditional bathymetric surveys would be less effective or too costly. Also, post-lay pipe surveys are now possible, which includes pipeline inspection. The use of AUVs for pipeline inspection and inspection of underwater man-made structures is becoming more common.
      Scientists use AUVs to study lakes, the ocean, and the ocean floor. A variety of sensors can be affixed to AUVs to measure the concentration of various elements or compounds, the absorption or reflection of light, and the presence of microscopic life. Examples include conductivity-temperature-depth sensors (CTDs), fluorometers, and pH sensors. Additionally, AUVs can be configured as tow-vehicles to deliver customized sensor packages to specific locations.
      Hundreds of different AUVs have been designed over the past 50 or so years,[15] but only a few companies sell vehicles in any significant numbers. There are around 10 companies that sell AUVs on the international market, including Kongsberg Maritime, Hydroid (now a wholly owned subsidiary of Kongsberg Maritime[16]), Bluefin Robotics, Teledyne Gavia (previously known as Hafmynd), International Submarine Engineering (ISE) Ltd, Atlas Elektronik, and OceanScan.
    </span>
    </p>

</div>
  </div>
</div>
