<div class="container-fluid" style="background-color:#164b83;border-bottom:2px solid white;margin:1% 5% ">
  <div  style="color:rgb(26, 255, 209)" >
    <header class="page-header" >
      <h2 style="font-size:30px">Message</h2>
    </header>
  </div>

  <div class="row">
    <div class="col-lg-12" >
      {% assign professor= site.data.alumni_detail.professor %} 
      <img src="/assets/images/team_members/{{professor[0].img}}" class="img-responsive img-rounded faculty_img";/>
    <p style="text-align:justify;">
      <h2 style="color:rgb(26, 255, 209)">{{professor[0].name}}</h2>
    <span class="facultymessage">{{professor[0].message}}</span>
    </p>

</div>
  </div>
</div>
