<div class="col-lg-12 message" style="color:black; background-image:url('images/iitlogo.jpg');z-index:100;background-size:cover;background-repeat:no-repeat;height:720px;display:none;">
<div class="row" style="color:#F7786B">
  <h2> Message</h2>
</div>
<div class="row">
  <p style="text-align:justify"> <h2>Professor .....</h2>
    An autonomous underwater vehicle (AUV) is a robot that travels underwater without requiring input from an operator. AUVs constitute part of a larger group of undersea systems known as unmanned underwater vehicles, a classification that includes non-autonomous remotely operated underwater vehicles (ROVs) – controlled and powered from the surface by an operator/pilot via an umbilical or using remote control. In military applications a AUV is more often referred to as unmanned undersea vehicle (UUV). Underwater gliders are a subclass of AUVs.
    The first AUV was developed at the Applied Physics Laboratory at the University of Washington as early as 1957 by Stan Murphy, Bob Francois and later on, Terry Ewart. The "Special Purpose Underwater Research Vehicle", or SPURV, was used to study diffusion, acoustic transmission, and submarine wakes.
Other early AUVs were developed at the Massachusetts Institute of Technology in the 1970s. One of these is on display in the Hart Nautical Gallery in MIT. At the same time, AUVs were also developed in the Soviet Union[1] (although this was not commonly known until much later).
  </p>
</div>
</div>
