<!-- Footer -->

		<footer id="footer" style="background-color: #154b83;">
			<section class="container">
				<ul class="icons">
					<li class="active"><a href="https://www.facebook.com/auviitk/" class="fa fa-facebook" target="_blank"><span>Facebook</span></a></li>
					<li><a href="https://github.com/AUV-IITK" class="fa fa-github" target="_blank"><span>Github</span></a></li>
					<li><a href="https://www.youtube.com/channel/UCBaRXMUGSoJeHLFBMa0q7Vg" class="fa fa-youtube" target="_blank"><span>Youtube</span></a></li>
					<li><address><a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=iitkauv@gmail.com&su" class="fa fa-envelope" target="_blank"><span>Envelope</span></a></address></li>
				</ul>
				<hr />
			</section>

			<!-- Copyright -->
				<div id="copyright">
					&copy; Autonomous Underwater Vehicle Team, IIT Kanpur, 2015-2017
				</div>
		</footer> 

      <script src="/js/jquery.min.js"></script>
      <script src="/js/jquery.dropotron.min.js"></script>
      <script src="/js/skel.min.js"></script>
      <script src="/js/skel-layers.min.js"></script>
      <script src="/js/init.js"></script>
      <script src="/js/navBar.js"></script>
