<!-- Navigation bar -->
<header class="site-header">

	<!-- Header -->
	<div id="header" style="position:fixed;z-index:10000; ">
		<div class="container" style="z-index:10">
			<!-- Logo -->
			<!-- <h1><a id="logo">{{site.name}}</a></h1> -->

			<!-- Nav -->
			<nav id="nav" style="z-index:1000">
				<ul>
					<li id="home"><a href="/index.html">
						<img src="/assets/images/logo/{{site.nav_icon}}.png" alt="Home" height="33px" style="padding-top:20px;padding-right:7px;padding-bottom:0;margin-bottom:0;"></a>
					</li>
					<!-- <li id="home"><a href="/index.html">Home</a></li> -->
					<!-- Pages -->
					<li id="blog"><a href="/blog/">Blog</a></li>
					<li id="varun"><a class="page-link" href="/varun.html">Vehicle</a>
						<ul>
							<li><a class="page-link" href="/varun.html">Varun</a></li>
							<!-- <li><a href="">Competition Vehicles</a>
								<ul>
									<li><a href="/varun.html">Varun</a></li>
								</ul>
							</li> -->
						</ul>
					</li>
					<li id="team"><a class="page-link" href="/teamnew.html">Team</a>
						<ul>
							<li><a href="/teamnew.html">2017-18</a></li>
							<!-- <li><a href="/alumni.html">Our Alumnis</a></li> -->
						</ul>
					</li>
					<li id="contact">
						<a class="page-link" href="/contact.html">Contact Us</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
