<div id="NEWS2">

  {% for news in site.data.news.team_news %}
  <p class="{{ news.hover }}" style="border-bottom:1px solid rgba(102, 102, 102, 0.2)">
    <a class="{{ news.isLinked }}" {% if news.isLinked=='linked' %} href="{{news.link}}" {% endif %} target="_blank" style="color:inherit; text-decoration:none;">
          <span><b>{{ news.date }}</b></span>
          <b><i class="{{ news.icon }}" aria-hidden="true"></i>
            {{ news.description }}
          </b>
        </a>
  </p>
  {% endfor %}

</div>
