<section class="container">
  <ul class="icons">
    <li class="active"><a href="https://www.facebook.com/{{site.facebook_username}}" class="fa fa-facebook" target="_blank"><span>Facebook</span></a></li>
    <li><a href="https://github.com/{{ site.github_username }}" class="fa fa-github" target="_blank"><span>Github</span></a></li>
    <li><a href="https://www.youtube.com/{{ site.youtube_username }}" class="fa fa-youtube" target="_blank"><span>Youtube</span></a></li>
    <li><a href="https://www.linkedin.com/{{ site.linkedin_username }}" class="fa fa-linkedin" target="_blank"><span>LinkedIn</span></a></li>
    <li><a href="mailto:{{ site.email }}" class="fa fa-envelope" target="_blank"><span>Envelope</span></a></li>
  </ul>
  <hr />
</section>
