#headingForBlog {
  font-size: 2.4em;
  color: #1c64b0;
  margin-bottom: 10px;
  margin-left: -4px;
  transition: .1s ease;
}

.categoriesLink {
	text-decoration: none;
	color: #19579a;
}

.italics {
	font-style: italic;
}

.meta-data {
	margin-bottom:5px;
	font-weight:500;
	display: -webkit-flex; /* Safari */
  -webkit-justify-content: webkit-space-between; /* Safari 6.1+ */
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

.about-post {
	display: -webkit-flex; /* Safari */
  -webkit-justify-content: webkit-flex-start; /* Safari 6.1+ */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
	font-size: 0.9em;
	margin-top: 0px;
	padding-top: 0px;
}

.about-post span {
	padding-right: 5px;
}

.about-author {
	display: -webkit-flex; /* Safari */
  -webkit-justify-content: webkit-flex-start; /* Safari 6.1+ */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.about-author a{
	margin-right: 5px; 
}

.description {
	color:#333333;
	font-size:1em;
	text-decoration:none;
	font-weight:400;
	display:block;
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button-1 {
	padding: 0px 10px;
	background-color: white;
	color: #19579a;
	border: 1px solid rgba(51, 51, 51, 0.2);
}

.button-2 {
	padding: 10px;
	background-color: #19579a;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	transition: 0.5s ease;
}

.button-2:hover {
	background-color:#123e6e;
	color: white;
	text-decoration: none;
}

.pageTitle {
	font-size:5em !important;
	color:white;
}

@media only screen and (max-width: 640px) {
    #headingForBlog {
    	font-size: 2.0em;
    }

    .pageTitle {
    	font-size: 3.5em !important;
    }
}