.container a:visited {
  color: #0d47a1;
}

.container a:hover {
  border-bottom: 1px solid;     
  background: #b9d2f9;
  text-decoration: none;
}

.container a:active {
  background: #0d47a1;
  color: #b9d2f9;
}

.container ul {
  list-style-type: disc;
  margin-left: 30px;
}

.container ol {
  list-style-type: decimal;
  margin-left: 30px;
}