body {
    overflow-x: hidden;
}
.form-control {
    border-color: #ccc;
}
input {
    border-color: #ccc !important;
}
input:focus {
    border-color: #66afe9 !important;
}
.form-group {
    margin: 0% 0% 3%
}
button:hover {
    background-color: aquamarine !important;
    color: #164b83 !important;
    transition: all .2s linear;
    font-variant: initial;
}
a {
    text-decoration: none !important;
}
b {
    color: #99e6ff;
    font-size: 18px;
}
dl {
    color: black;
    font-size: 16px;
    margin-bottom: 2.4%;
}
.auvcontact a {
    color: #99e6ff;
}
header.major .byline {
    list-style-type: disc;
}
