---
---
$color_1: #164b83;
$color_2: #bbb;
$color_3: #99e6ff;
$color_4: black;
$background_color_1: aquamarine;
$border_color_active: #ccc;
$border_color_hover: #66afe9;
$full_width: 100%;

body {
	overflow-x: hidden;
}
.container2 {
	width: $full_width!important;
	padding: 0% 10% !important;
}
.page-header {
	margin-top: 0%;
}
.form-control {
	border-color: $border_color_active;
}
input {
	border-color: $border_color_active !important;
	&:focus {
		border-color: $border_color_hover !important;
	}
}
.form-group {
	margin: 0% 0% 3%;
}
button {
	&:hover {
		background-color: $background_color_1 !important;
		color: $color_1 !important;
		transition: all .2s linear;
		font-variant: initial;
	}
}
a {
	text-decoration: none !important;
	color: $color_2;
}
b {
	color: $color_3;
	font-size: 18px;
}
dl {
	color: $color_4;
	font-size: 16px;
	margin-bottom: 2.4%;
}
.auvcontact {
	a {
		color: $color_4 !important;
	}
}
header.major {
	.byline {
		list-style-type: disc;
	}
}
form {
	.input-group {
		margin-top: 3%;
	}
}
