.body{
  background-color: #f2f2f2;
  padding: 40px;
}
body{
  overflow-x: hidden;
}
h3{
  font-size: 0.7em !important;
  font-family: monospace;
}
#tagline{
  font-size: 40px;
  color:  #444422;
  margin: 2% 0% 2% 10% ;
  padding: 20px;
}
#title{
  margin:3% 0% 3% !important;
  width: 100%;
  font-size: 20px;
}
#tagline h2{
  line-height : 1 !important;
  text-transform: uppercase !important;
}

#team_container{
  margin: 3% 5%;
}
#polygon_block{
  height: 400px;
}
ul a{
  font-size: 15px;
  color:black;
  border-radius:50%;
  border : 1px solid black;
}
ul i{
    color:black;
    padding: 5px
}
.page-header{
  width:100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid  #e6e6e6;
  margin:3% ;
}
.page-header h2{
  font-size: 30px;
  font-family: cursive;
}
.a{
  width: 100%;
  height:55.55%;
  display: flex;
  justify-content: space-around;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  background: url("http://karenmenezes.com/shapes-polygon/bg-cubes.png");
}

p {
  margin: 0 0 10px 0;
}
.img-responsive{
  transform: scale(1.5) !important;
}
.wrap {
  color: #222;
  font-size: 24px;
  margin: 0% 5%;
}

.clip-svg {
  width: 0;
  height: 0;
}

.clip-caption {
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.clip-each {
  display: block;
  position: relative;
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  /*-webkit-clip-path: url("#hexagon-clip");
  clip-path: url("#hexagon-clip");*/
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin: 0px 10px ;
}

a.clip-each:hover {
  background: rgba(22, 75, 131,0.9);
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.clip-solid {
  width: 300px;
  height: 300px;
  background-image: url("/assets/images/alumni_member/ShibhanshDohare.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: #ad6996;*/
  background-blend-mode: hard-light;
  -webkit-transition: all 2.5s linear;
  transition: all 2.5s linear;
}

.clip-solid:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(100% 3%, 17% 100%, 100% 100%);
  clip-path: polygon(100% 3%, 17% 100%, 100% 100%);
  -webkit-clip-path: url("#triangle-clip");
  clip-path: url("#triangle-clip");
  background: rgba(179, 240, 255,0.8);
  z-index: 1;
  width: 100%;
  height: 155px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  pointer-events: none;
}

.clip-solid:hover:after {
  height: 0;
  -webkit-transition: all 0.45s ease-in;
  transition: all 0.45s ease-in;
}

.clip-solid:hover .social-share-block {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-share-block {
  position: absolute;
  bottom: 20px;
  right: 75px;
  color: #800000;
  font-size: 70%;
  z-index: 2;
}

.social-each {
  font-size: 80%;
}

.clip-gradient {
  background: #222;
  width: 160px;
  height: 160px;
}

.clip-gradient .clip-caption {
  color: #fff;
}

.clip-border {
  background: -webkit-linear-gradient(300deg, #aebcbf 0%, #6e7774 50%, #333 61%, #333 100%);
  background: linear-gradient(150deg, #aebcbf 0%,#6e7774 50%,#333 61%,#333 100%);
  width: 160px;
  height: 160px;
  margin-top: 7px;
  color: #222;
}

.clip-border::after {
  content: "";
  position: absolute;
  top: 4%;
  left: 4%;
  right: 4%;
  bottom: 4%;
  margin: 0 auto;
  background: url("http://karenmenezes.com/shapes-polygon/bg-cubes.png");
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  -webkit-clip-path: url("#hexagon-clip");
  clip-path: url("#hexagon-clip");
  z-index: -1;
}

.clip-tagline {
  display: block;
  color: #758C9B;
  text-decoration: none;
  text-align: center;
}

@media only screen and (min-width: 550px) {
  .wrap {
      /*display: table;
      position:inherit ;
      top: 50%;
      left: 50%;
      -ms-transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);*/
  }

  .clip-block {
    display: table-cell;
    vertical-align: middle;
  }

  .clip-border {
    margin-top: 20px;
  }
}
.justify-content-center{
  display: flex;
  justify-content: space-evenly;
}
.img-responsive{
  width:80%;
  margin: 0px 30px !important;
}
