.byline {
  font-size: 1.2em !important;
}

header.major .byline {
  list-style-type: disc;
}

#LOGO:hover {
  filter: brightness(100);
}

#header {
  position: fixed;
  z-index: 10;
  background: black;
}

.heading1 {
  font-size:1.8em;
  color: white;
  margin-bottom:15px;
  border:none;
  padding:0;
}
.heading2{
  color:#4d4d4d;
  width:80%;
  margin:auto;
  font-size: 1.8em;
}
.flex-container {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
 }
.flex-container > img {
  width: 200px;
  height: 80px ;
  margin: 20px 15px 20px 5px;
}
.container ul {
  list-style-type: disc;
  margin: 0 0 0 30px;
}

.container ol {
  list-style-type: decimal;
  margin-left: 0 0 0 30px;
}
.container ul.benefits {
  color: white;
}