.auvMech {
  display: inline-block;
  margin: 0px 0px 15px 0px;
  width: 49%;
}

.button1 {
  padding: 10px 13px;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
  background: #123e6d;
  color: aqua;
  cursor: pointer;
  font-size: 1.0em;
  text-decoration: none !important;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.button1:hover {
  color: white;
}

#stic {
  position: sticky;
  background: #123e6d;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
  top: 44px;
}

.button3 {
  padding: 10px 15px;
  display: inline-block;
  margin-left: 2%;
  margin-bottom: 5px;
  background: #1a7999;
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  text-decoration: none !important;
  font-weight: 500;
  transition: 0.2s ease;
}

.button3:hover {
  background: #0E9DAF;
  color: white;
}

.picCom {
  clear: left;
  margin: 0 0 30px 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 1.0em;
  font-weight: 500;
}

.byline {
  font-size: 1.2em !important;
}

header.major .byline {
  list-style-type: circle;
}

#v header.major .byline {
  list-style-type: disc;
}
