---
title: Blog
layout: default
social: true
css: blog.css
js: blog.js
---

<!-- Heading -->
<div class="wrapper style4" style="padding: 120px 0px 40px 0px; background-image: url('/assets/images/blog/background.png'); filter:blur(2px);">
	<section class="container">
		<header class="major">
			<h2 style="font-size:5em;margin-bottom: 25px;color:white;">AUVeScope</h2>
			<br>
			<span class="byline" style="font-weight:400;">A blog for tutorials, musings, and news</span>
		</header>
	</section>
	<br>
	<br>
</div>


<!-- Blog Posts -->
<div class="wrapper style4" style="padding:60px 0px 0px 0px;">
	<section class="container">
		<div class="row flush">
			<div class="2u">
				<p></p>
			</div>
			<div class="8u" style="text-align: justify;">
				<ul>
					<li>
						{% for post in site.posts %}
							{% include blog_post.html %}
						{% endfor %}
						<hr>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>

{% include comments_count.html %}
{% include pagination.html %}
