---
layout: default
---

<!-- Heading -->
<div class="wrapper style4" style="padding: 120px 0px 40px 0px; background-image: url('/assets/images/blog/categories/{{ page.title }}.png');">
	<section class="container">
		<header class="major">
			<h2 style="font-size:5em;margin-bottom: 25px;color:white;">{{ page.title }}</h2>
			<br>
			{% if page.subtitle %}
				<span class="byline" style="font-weight:400;">{{ page.subtitle }}</span>
			{% endif %}
		</header>
	</section>
	<br>
	<br>
</div>

<!-- Blog Posts -->
<div class="wrapper style4" style="padding:60px 0px 0px 0px;">
	<section class="container">
		<div class="row flush">
			<div class="2u">
				<p></p>
			</div>
			<div class="8u" style="text-align: justify;">
				<header>
					<h2>Posts related to: {{ page.title }}</h2>
					{% unless page.content == '' %}
					  <p>{{ page.content }}</p>
					{% endunless %}
					<hr>
				</header>
				<ul>
					<li>
						{% assign flag = 0 %}
						{% for post in site.posts %}
							{% if post.categories contains page.title %}
								{% assign flag = 1 %}
								{% include blog_post.html %}
							{% endif %} 
						{% endfor %}
						<hr>
					</li>
				</ul>		
				{% if flag == 0 %}
					<p>No posts to show</p>
				{% endif %}
			</div>
		</div>
	</section>
</div>

{% include comments_count.html %}