---
layout: default
social: true
blog_active: active
---

<!-- Heading -->
<div class="wrapper style4" style="padding:180px 0px 60px 0px; background-image: url('/assets/images/blog/posts/{{ page.title }}/background.png'); background-repeat: no-repeat; background-size: cover; height: 400px;">
  <section class="container">
    <header class="major">
      <h2 style="font-size:3.2em;line-height:0.9;color:white;">{{page.title}}</h2>
      <br>
      <span class="byline" style="color:white;font-weight: 400;">{% for author in page.author %}{{ author.name }}{% endfor %} on {{page.date | date: "%B %-d, %Y"}}</span>
    </header>
    <p style="font-size:1.4em;margin-bottom:0px;"></p>
  </section>
</div>


<div style="background:white;padding:60px 0px 20px 0px;">
  <div class="wrapper style4" style="padding-top:0px;">
    <section class="container">
      <div class="row flush">
        <div class="2u">
          <p></p>
        </div>
        <div class="8u" style="font-weight:400; font-size: 1.0em;text-align: justify;">
          {{ content }} {% if page.comments %}
          <div id="disqus_thread" style="background:white;"></div>
          {% endif %}
          <hr>
          <ul class="pager">
            {% if page.previous.url %}
            <li class="previous"><a href="{{ page.previous.url }}" style="text-decoration:none; color:#19579a;"><i class="fa fa-angle-double-left" > </i> Previous Post</a></li>
            {% endif %} {% if page.next.url %}
            <li class="next"><a href="{{ page.next.url }}" style="text-decoration:none; color:#19579a;">Next Post <i class="fa fa-angle-double-right" > </i></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement('script');
    s.src = 'https://auv-iitk.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script>
  document.getElementById("blog1").style.color = "white";
</script>
<script id="dsq-count-scr" src="//auv-iitk.disqus.com/count.js" async></script>
